<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>lightGallery</title>
    
    <link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css">
  
      <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>

<body>
    
    
    <!-- Start Navbar -->
    
    <div class="navbar">
        <div class="container">
            <div class="brand">
                <h2>classic</h2>
            </div>



            <ul class="links">
                <li class="active"> <a href="#"> Home</a> </li>
				 <li> <a href="#" data-value = "ser"> About Us</a> </li>
                <li> <a href="#" data-value = "port"> portfolio</a> </li>
                <li> <a href="#" data-value = "test"> testimonial</a> </li>
                <li> <a href="#" data-value = "cont"> Contact</a> </li>


            </ul>
        </div>
	</div>
    <!--End Navbar -->
    
    
    <!-- Start Header -->
    <div class="header">
		<div class="overlay">
            <div class="slider">
              <div>
                <h2 ><span>Rais Gremory</span> </h2>
                <p class = "container">Rias is a beautiful young characters of the series.</p>

              </div>
				
				
				<div>
                <h2 ><span>Akino Gremory</span> </h2>
                <p class = "container">Rias is a beautiful young </p>

              </div>
				
				
				
				<div>
                <h2 ><span>Sasuki Uchiha</span> </h2>
                <p class = "container">Rias is a beautiful young characters of the series.</p>

              </div>
				
				
				<div>
                <h2 ><span>Naruto Uzumaki</span> </h2>
                <p class = "container">Rias is a beautiful young characters of the series.</p>

              </div>
				
				
			</div>
		</div>
	</div>


    <!--End Header-->



    <!--Start Our Services-->
    <div class="services" id="ser">
        <div class="container">
            <h2 class="heading">Our Services</h2>
            <div class="item">
                <i class="fa fa-mobile fa-4x fa-fw" ></i>
                <div class = "info">
                    <h3>Responsive</h3>
                    <p>Lorem Ipsum copy in various charsets and languages for layouts. ... systems ensure that you can show different text, different data using the same template</p>
                </div>
            </div>

            <div class="item">
                <i class="fa fa-cloud fa-4x fa-fw" ></i>
                <div class = "info">
                    <h3>Cloud Services</h3>
                    <p>Lorem Ipsum copy in various charsets and languages for layouts. ... systems ensure that you can show different text, different data using the same template</p>
                </div>
            </div>

            <div class="item">
                <i class="far fa-lightbulb fa-4x fa-fw" ></i>
                <div class = "info">
                    <h3>Fresh Idea</h3>
                    <p>Lorem Ipsum copy in various charsets and languages for layouts. ... systems ensure that you can show different text, different data using the same template</p>
                </div>
            </div>

            <div class="item">
                <i class="far fa-envelope fa-4x fa-fw" ></i>
                <div class = "info">
                    <h3>Attachment</h3>
                    <p>Lorem Ipsum copy in various charsets and languages for layouts. ... systems ensure that you can show different text, different data using the same template</p>
                </div>
            </div>

            <div class="item">
                <i class="fa fa-film fa-4x fa-fw" ></i>
                <div class = "info">
                    <h3>Support Video</h3>
                    <p>Lorem Ipsum copy in various charsets and languages for layouts. ... systems ensure that you can show different text, different data using the same template</p>
                </div>
            </div>

            <div class="item">
                <i class="far fa-heart fa-4x fa-fw" ></i>
                <div class = "info">
                    <h3>Lovely Design</h3>
                    <p>Lorem Ipsum copy in various charsets and languages for layouts. ... systems ensure that you can show different text, different data using the same template</p>
                </div>
            </div>
            <div class="clear"></div>
            
        </div>
    </div>

    <div class="container">
        <hr class="separat">
    </div>


    <div class="our-team">
        <div class="container">
            <div class="box">
            
            <h2 class="heading">Our Team</h2>
            <p>Lorem Ipsum copy in various charsets and languages for layouts systems ensure that you can show different text.orem Ipsum copy in various charsets and languages for layouts systems ensure that you can show </p>
            </div>

            <div class="box">
                <div class="overlay">Space</div>
                <img src="images/1.jpg" alt="wolf">
            </div>


            <div class="box">
                <div class="overlay">Sea</div>
                <img src="images/2.jpg" alt="nature">
            </div>



            <div class="box">
                <div class="overlay"> Cat</div>
                <img src="images/3.jpg" alt="forest">
            </div>


            <div class="box">
                <div class="overlay">Fire</div>
                <img src="images/4.jpg" alt="anime">
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <!--End Our Services-->
    
	</body>
   
        
        
    <!-- End Header -->















    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    
    <script>
        $(function () {
    
    //Adjst Header Height
    
    var myHeader = $('.header');
    myHeader.height($(window).height());
    $(window).resize(function () {
        
        myHeader.height($(window).height());

        $('.slider').each( function () {
        $(this).css('paddingTop', ($(window).height() - $('.slider div').height()) / 2 );
    });
        });

    //Linkes Add Active Class
    
    $('.links li a').click(function () {
        $(this).parent().addClass('.active').siblings().removeClass('active');
        
    });

    $('.slider').each( function () {
        $(this).css('paddingTop', ($(window).height() - $('.slider div').height()) / 2 );
    });


    $('.slider').bxSlider({
        pager: false
    });
 
    $('.links li a').click( function () {
        $('html, body').animate({
            scrollTop: $('#' + $(this).data('value')).offset().top

        },1000);
        console.log($(this).data('value'));
    });




});
    </script>
 
    
</body>

</html>
